<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Contact Us</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">"Get in touch with us today and let us help you with all your needs!"</p>
  </div>
</div>

<div class="row justify-content-center">

  <% if(infoContactObj != '') { %>
    <div class="col-8 alert alert-success" role="alert">
      <%= infoContactObj %>
    </div>
  <% } %>

  <% if(infoContactErrorsObj != '') { %>
    <div class="col-8 alert alert-danger" role="alert">
      <%= infoContactErrorsObj[0].message %>
    </div>
  <% } %>

  <div class="col-8">

    <form action="/contact" enctype="multipart/form-data" method="POST">
    
      <div class="row g-3">

        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" id="email" class="form-control">
        </div>
        <div class="col-12">
          <label for="name" class="form-label">Full name</label>
          <input type="text" name="name" id="name" class="form-control" required>
        </div>

        <div class="col-12">
          <label for="number" class="form-label">Contact Number</label>
          <input type="number" name="number" id="number" class="form-control" required>
        </div>
        <div class="col-12">
          <label for="subject" class="form-label">Subject</label>
          <input type="text" name="subject" id="subject" class="form-control">
        </div>

        
        
        <div class="col-12">
          <label for="message" class="form-label">Message</label>
          <textarea name="message" id="message" class="form-control" cols="30" rows="4"></textarea>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit Recipe</button>
        </div>

      </div>
    
    </form>

  </div>
</div>